<h1>New Class Form</h1>
<div class="formContainer">
    <form id="newClassForm">
        <div class="formControl">
            <label for="">title</label>
            <input type="text" name="title">
        </div>
        <div class="formControl">
            <label for="">Credits</label>
            <input type="text" name="credits">
        </div>
        <div class="formControl">
            <label for="">max students</label>
            <input type="text" name="maxStudents">
        </div>
        <div class="formControl">
            <label for="">description</label>
            <textarea name="description" id="" cols="30" rows="10"></textarea>
        </div>
        <button>Submit</button>
    </form>
</div>

<script src="/js/newClass.js"></script>